.owner-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 16px;
  gap: 24px;
  
}

.owner-container .sidebar{
  padding: 16px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-elevate);
  border-radius: 8px;
}

.owner-container .sidebar .logo{
  max-width: 150px;
}

.owner-container .right{
  width: 100%;
  background-color: var(--background-elevate);
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  overflow: scroll;
}

.owner-container .right .wrap{
  display: flex;
  flex-direction: column;
  border:  1px solid red;
  width: 100%;
  height: auto;
  gap: 24px;
}