@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom CSS Variables */


:root {
  --primary-color: #FF6464;
  --primary-elevate: #201D1D;
  --background-dark: #100F0F;
  --background-elevate: #151414;
  --table-odd: #1A1919;
  --text-head: #BDB3B2;
  --text-para: #938B8A;
  --grey-900: #35373B;
}

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", "Open Sans", sans-serif !important;
}

/* Typography */
h1, h2, h3, h4, h5, h6,
p, a, li, label {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 28px;
  font-weight: 700;
  color: var(--text-head);
}

p, a, li, label {
  font-size: 16px;
  color: var(--text-para);
}

/* Body */
body {
  background-color: var(--background-dark) !important;
}

/* Buttons */
button {
  height: 52px;
  cursor: pointer;
  font-size: 16px !important;
  font-family: "Dosis", "Plus Jakarta Sans", "Open Sans", sans-serif !important;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  color: #FFFFFF;
  border: none;
}

.btn-outline {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-text {
  background: transparent;
  border: none;
  color: #FFFFFF;
  padding: 0;
}

/* Form Inputs */
input {
  height: 52px !important;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  padding-left: 8px;
  margin-bottom: 24px;
  font-family: "Dosis", "Plus Jakarta Sans", "Open Sans", sans-serif !important;
}

input:focus {
  outline: 1px solid var(--text-head);
}

/* Form */
form {
  width: 100%;
}
