form{
    /* border: 1px solid red; */
    max-width: 300px;
}
input, textarea, select{
    background-color: var(--table-odd);
    outline: none;
    border: 1px solid var(--grey-900);
    height: 44px;
    color: var(--text-para);
    
} 
textarea{
    resize: none;
    height:100pcx;

}

.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    /* border: 1px solid red; */
}